@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
* {
	box-sizing: border-box;
}

.row-table {
	display: table;
}

.section-column {
	display: table-cell;
	float: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(82, 174, 188);
}

.inline-block {
	display: inline-block;
}

.row-table {
	display: table;
}

.section-heading {
	font-family: "Cardo", sans-serif;
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 40px;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	padding: 0;
	border: 0;
	font-family: "Cardo", sans-serif;
}

.header {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo {
	width: 50%;
	float: left;
}

.header-right {
	float: right;
	text-align: right;
    padding: 40px 0px 0px 0px;
}

.social-media li {
	display: inline;
}

.social-media i {
	font-size: 130%;
	margin-left: 6px;
	padding: 0%;
}

.fa-facebook-f {
	color: rgb(59, 89, 152);
}

.fa-instagram {
	color: rgb(188, 42, 141);
}

.fa-twitter-square {
	color: rgb(0, 172, 237);
}

.fa-youtube {
	color: rgb(187, 0, 0);
}

.form {
	font-size: 16px;
	font-family: "Cardo", sans-serif;
	color: rgb(78, 78, 78);
	font-weight: bold;
	padding-top: 20px;
	text-decoration: none;
	text-transform: uppercase;
    margin-bottom: 5px;
}

.form:hover {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid #da798e;
}

.navbar {
	text-transform: uppercase;
	background-color: lightgray;
	margin-bottom: 5px;
    padding-inline-start: 0px;
}

#menu {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: lightgray;
    padding-inline-start: 0px;
}

#menu li {
	float: left;
}

#menu a {
	display: inline;
	text-decoration: none;
    font-size: 14px;
	color: rgb(78, 78, 78);
	font-weight: bold;
	text-align: center;
	padding: 10px 12px;
}

#menu a:hover {
	background-color: darkgrey;
}

.main-section {
	background-image: url("../images/indexbg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.main-section div {
	width: 45%;
	float: left;
	text-align: center;
	padding: 0%;
	height: 250px;
	background-color: rgba(150, 150, 150, 0.7);
	margin: 2.5%;
}

.main-section a {
	text-decoration: none;
	color: rgb(55, 55, 55);
}

.main-section p {
	text-transform: initial;
	color: white;
	font-size: 18px;
    margin: 2%;
}

.main-section h1 {
    padding: 5%;
}

.main-section-center {
	width: 45%;
	text-align: center;
	padding-top: 10%;
	height: 250px;
	background-color: rgb(150, 150, 150, 0.7);
	margin-left: 20px;
	margin-right: 20px;
}

.main-section h1 {
	transition: transform 0.1s;
}

.main-section h1:hover {
	transform: scale(1.1);
}

/*.........................................Pregnancy Page*/

.section-heading {
	color: red;
	margin-bottom: 30px;
}

.timeline-item {
	padding: 5em 2em 0 2em;
	position: relative;
	color: black;
	border-left: 1px solid;
	font-size: 0.8em;
	text-transform: uppercase;
}

.timeline-item:before {
	content: attr(data-week);
	position: absolute;
	left: 2.5em;
	top: 3em;
	display: block;
	font-family: "Exo", sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

.timeline-item:after {
	width: 12px;
	height: 12px;
	display: block;
	top: 2.4em;
	position: absolute;
	left: -6px;
	border-radius: 12px;
	content: '';
	background: pink;
}

.development-items {
	margin: 30px;
}

/*...................................Birth Page*/

.bp {
	background-color: lightgray;
	padding: 1%;
	text-align: left;
}

.break {
	background-color: white;
	height: 60px;
}

.bp p {
	font-size: 18px;
	font-family: "Cardo", sans-serif;
	margin-top: 1em;
	text-transform: initial;
}

.content-text p {
	text-transform: initial;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
}

.content-text span {
	font-weight: bold;
}

.birth {
	background-image: url("../images/planning2.png");
	background-attachment: scroll;
	background-size: cover;
	background-position: left;
	overflow: hidden;
	height: 320px;
}

.birth p {
	text-align: center;
	margin-left: 50%;
	padding: 10px 30px 10px 30px;
	font-size: 20px;
	font-family: "Cardo", sans-serif;
}

.subject-separation {
	padding-bottom: 10px;
}

.img-left img {
	height: 100%;
	width: 100%;
}

.lowercase-birth {
	text-align: right;
	margin-right: 7%;
	margin-top: 8%;
}


/*....................................................Subscribe Page*/

.form-news {
	background-image: url("../images/subscribebg.png");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	height: 600px;
}

.signup-form {
	margin-top: 120px;
	color: #fff;
	background-color: rgb(60, 60, 60, 0.4);
	max-width: 400px;
	max-height: 400px;
	position: absolute;
	left: 35%;
	padding: 30px;
}

.fa-baby {
	color: #fafafa;
	margin-bottom: 40px;
}

.text-input {
	background: transparent;
	color: #fafafa;
	width: 100%;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #fafafa;
	border-radius: 2px;
}

button {
	border-radius: 1px;
	padding: 10px 20px 10px 20px;
	text-align: center;
	font-size: 100%;
	background-color: #da798e;
	color: #fafafa;
	font-family: "Cardo", sans-serif;
}

button:hover {
	background-color: rgb(102, 154, 173);
}

/*............................................Footer*/

footer {
	height: auto;
	background-color: lightgray;
	margin-top: 5px;
}

.social-links {
	text-align: center;
    padding-inline-start: 0px;
    padding : 0px;
}

.social-links li {
	display: inline;
}

.social-links i {
	font-size: 150%;
	margin: 1.5em;
}

@media screen and (max-width: 440px) {

    body {
        margin-left: 2%;
        margin-right: 2%;
    }

    .navbar {
		white-space: nowrap;
	}

	.header a {
		display: inline;
		text-align: right;
	}
	.header-right {
        margin-top: -33%;
	}
    .form {
        font-size: 9px;
        padding-top: 10px;
    }

    .social-media i {
        margin-left: 6px;
        padding: 0%;
    }

	.header-left {
		float: none;
	}


	.main-section div {
		width: 95%;
	}

    #menu a{
        font-size: 10px;
    }
    
    .social-links i {
        font-size: 100%;
    }

   .signup-form {
        max-width: 80%;
	    max-height: 80%;
        left: 10%;
   }

   .signup-form h2 {
        width: auto;
        font-size: 12px;
   }

    .text-input {
        font-size: 8px;
        
}

    button {
        padding: 1px 2px 1px 2px;
        text-align: center;
        font-size: 12px;
}

    .fa-baby {
        width: 100%;
    }

}


@media screen and (min-width: 441px) and (max-width: 766px) {
    body {
	margin-left: 2%;
	margin-right: 2%;
    }  

	.navbar {
		white-space: nowrap;
	}

	.header-right {
        margin-top: -23%;
	}


	.main-section div {
		width: 45%;
	}
    #menu a{
        font-size: 10px;
    }

    .social-links i {
	font-size: 100%;
    }

   .signup-form {
        max-width: 80%;
	    max-height: 80%;
        left: 10%;
   }

}

@media screen and (min-width: 767px) and (max-width: 1100px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
 
    .navbar {
		white-space: nowrap;
	}
	.header a {
		float: none;
		display: inline-block;
	}

	.header-left {
		float: none;
	}
	.main-section div {
		width: 45%;
	}
    
    #menu a{
        font-size: 16px;
    }

    .social-links i {
	font-size: 150%;
    }

   .signup-form {
        max-width: 80%;
	    max-height: 80%;
        left: 10%;
   }

}